{% extends 'base.html' %}

{% block title %} my django project | about {% endblock %}

<p> this is the about page</p>

{% block body %}
<p> this is the about page</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab illo repudiandae, suscipit ipsum tempore nisi vel possimus expedita recusandae laudantium autem aspernatur placeat totam maiores reprehenderit, veritatis dolorem cum nobis? Error, aspernatur. Cupiditate consequatur doloribus architecto laboriosam in rerum. Debitis quam deserunt ipsam minima beatae, nisi expedita eligendi odit. Praesentium earum, voluptatibus distinctio officia, labore illum corporis quos aliquam aut itaque commodi ut. Quos et quaerat ipsum id unde qui facere eaque, voluptates sed doloribus labore numquam nostrum corporis repudiandae quam culpa dolore iusto explicabo inventore quod provident reprehenderit ipsa dolorum. Nesciunt tempora, beatae veritatis saepe nemo accusantium atque aut   
</p>

{% endblock %} 